@media (max-width: 330px) {
    nav.sidebar {
        width: 70px;
    }

    .sidebar a {
        font-size: 15px;
        margin-left: -10px;
    }

    body {
        margin: 0;
    }

    h1 {
        margin-top: 20px;
        font-size: 12px;
    }

    h4 {
        font-size: 10px;
        margin-top: -2px;
    }

    .title {
        margin: 20px 1vw;
        text-align: center;
        text-indent: 0;
    }

    .titleImage {
        width: 20px;
        height: 20px;
    }
    
    .imgNam{
        height: 200px;
    }

    .imgHimba {
        height: 90%;
    }

    .quote {
        font-size: 12px;
    }

    .quote h5 {
        position: absolute;
        text-align: center;
        padding: 5px 10px;
        text-indent: 0;
    }

    main button {
        margin: 0;
    }


    .animals, .discover {
        margin: 20px 5vw 0 25vw;
    }

    .card-content {
        width: 70%;
    }

    .card-description {
        font-size: 9px
    }

    .social {
        margin: 0 1vw 0 15vw;
        
    }

    footer p {
        font-size: 10px;
    }
}

@media (max-width: 375) {
    main button {
        margin: 0;
    }

    .animals {
        margin-left: 4vw;
    }
}