
:root{
    --clear:#F4F4F4;
    --dark:#333;
    --primary: #154360;
    --secundary:#446dba;
    --tertiary: #effaff;
    --shadow-1:  0 2px 5px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }
p { font-size: 16px; }

header {
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.263);
    background-color: var(--primary);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header li, footer p {
    color: var(--clear);
}

header li {
    transition: color 0.4s ease;
}

#logo, #logo2{
    width: auto;
    height: 40px;
    margin: 20px 0;
}

nav {
    max-width: 500px;
    width: 100%;
}

/* the #myButton is hiding the hambrguer menu */
#myButton{
    font-size: 2rem;
    background-color: var(--primary);
    border: none;
    color: var(--clear);
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
    display: none;
}


ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

}


ul.menuLinks li a{
    padding: .75rem 2vw;
    color: var(--clear);
    text-decoration: none;
}

ul.menuLinks li a:hover{
    color: var(--secundary);
}

/* Footer */
footer {
    background-color: var(--primary);
    padding: 20px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position:relative;
    bottom: 0;
    margin-top:auto;

}

footer div {
    
    text-align: left;
}

.icon {
    width: 45px;
    height: 45px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

/* sections */
.content-container{
    margin: 8%;
}

/* buttons */
.btn a{
    color: #fff;
    text-decoration: none;
}
.btn{
    margin: 30px 20px;
    height: 45px;
    width: 200px;
    padding: 10px 20px;
    color: var(--clear);
    background-color: var(--secundary);
    border-radius: 20px;
    outline: none;
    border-width: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}
.btn:hover{
    background-color: #182742;
  }


#sidebarAndMain{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 700px ;
}
#sidebar{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #a1c1fc;
    height: 800px;
    box-shadow: 0px 2px 10px  #182742;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
}
#sidebar p{
    padding: 20px;
    margin: 0 20px;
}
#main{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#companiesOnBoard{
    margin-bottom: auto;
}
#companiesOnBoard ul{
    display: block;
}
#companiesOnBoard li{
    
    padding: 5px 0;
}

/* Calendar */

.calendar {
    width: 300px;
    margin-top: auto;
    margin-bottom: 100px;
}

.calendar-header {
    text-align: center;
    padding: 10px;
    background-color: #154360;
    color: #fff;
}

.calendar-header button {
    background-color: #154360;
    color: #fff;
    border: none;
    padding: auto;
    cursor: pointer;
}

.days div, .day-names div {
    text-align: center;
    padding: auto 5px;
    border: 1px solid #ddd;
}

.days div {
    width: 42px;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.day-names div {
    width: 42px;
}

.day-names {
    display: flex;
    background-color: #f0f0f0;
}

.today {
    background-color: lightgreen;
}
.busPic{
    width: 200px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #021029af;
}


@media only screen and (max-width: 700px) {
    header{
        flex-direction: row;
        height: auto;
        padding-bottom: 20px;
       
    }

    #logo{
        display: none;
    }


    #myButton{
        display: block;
        
    }
    ul{
        flex-direction: column;
    }
    ul.menuLinks{
        display: none;

    }
    ul.open{
        display: block;

    }

    li{
        padding: 10px;
    }

    footer {
        flex-direction: column; 

        margin-bottom: 0;
    }

    footer div {
        margin-bottom: 10px;
        text-align: center;
        
    }
    

    .social {
        flex-direction: row; 
    }
    #sidebarAndMain{
        display: flex;
        flex-direction: column;
    }
    #sidebar h6{
        margin-top: 100px;
    }
}