/* Global Styles */
:root{
    --clear:#F4F4F4;
    --dark:#333;
    --primary: #2B547E;
    --secundary:#446dba;
    --tertiary: #effaff;
    --shadow-1:  0 2px 5px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 48px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size:24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}

p{
    font-size: 16px;
}

/* Body and Typography */
body {
    font-family: 'Open Sans', sans-serif;
    background-color:var(--tertiary) ;
    color: var(--dark);
    line-height: 1.6;    
}

/* Header */
header {
    background-color: var(--primary); 
    color: var(--clear);
    padding: 20px;
    text-align: center;
    box-shadow: var(--shadow-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

button.nav-btn{
    width: 150px;
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.4s ease;
}

button.nav-btn:hover{
    background-color: var(--secundary);
    color: var(--tertiary);
}

header h1 {
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFD700; /* Gold */
}

a{
    text-decoration: none;
    color: var(--primary);
}

/* Main Content */
main {
    margin-top: 8%;
    padding: 20px;
}

/* Sections */
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: var(--shadow-1);
}


.cards{
    width: 90%;
    background-color:var(--tertiary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 0 20px ;
}

.cards h1{
    width: 100%;
}

.users{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}

#scenarios{
    max-width: 30%;
    margin: 20px;
    padding:10px 20px;
}

#content{
    margin: 20px;
    padding:10px 20px;
}


/* Box Titles */
.box-title {

    color: var(--dark);
}

.box-title h2 {
    margin-bottom: 15px;
}

/* List Styling */
ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}



.design{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px 20px;
}
.typography{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px 20px;
}

div .color{
    width: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 10px;
}

.primary{
    color: var(--clear);
    background-color: var(--primary);
}

.secondary{
    background-color: var(--secundary);
    color: #fff;
}
.background{
    background-color: var(--tertiary);
    border: solid .5px var(--dark);
}
.text-color{
    background-color: #333;
    color: #fff;
}
.wireframes{
    padding: 30px;
}

img.logo{
    max-width: 50%;
    width: 100%;
    margin: 30px;
}

div.directory-wireframe{
 display: flex;
 align-items:start;
 justify-content: center;
}

img.desktop{
    max-width: 60%;
    width: 100%;
    height: auto;
    margin: 5px;
}
img.movile{
    max-width: 30%;
    margin: 5px;
}
.movile{
    width: 80px;
    rotate: 90px;
}
/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--primary); 
    color: #fff;
    margin-top: 20px;
    bottom: 0;
}


