@media (max-width: 400px) {
    header h1 {
        font-size: 6vw;
        margin-top: 10px;
    }

    header h4 {
        font-size: 4vw;
        margin-top: -10px;
    }

    .titleImage {
        height: 60px;
    }
}

@media (max-width: 891px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid a {
        font-size: 2.5vw;
    }

    .social img {
        border-radius: 5px;
        width: 30px;
    }

    footer {
        grid-template-rows: 2fr 1fr 2fr;
        grid-template-columns: 1fr;
        font-size: 13px
    }
}

/*Form mobile CSS*/
@media (max-width: 700px) {
    form label {
        font-size: 16px;
    }

    fieldset legend {
        font-size: 16px;
    }

    form fieldset {
        width: 88%;
        border-radius: 5px;
        border: 2px solid black;
    }

    .lazyImages img:hover {
        transform: none;
        box-shadow: 0 0 7px black;
        z-index: none;
    }
}


/*Discover mobile CSS*/
@media (max-width: 800px) {
    .discoverCard {
        width: 220px;
    }

    .discoverText {
        width: 220px;
    }

    .discoverCalendar {
        grid-column: 3 / 4;
        width: 220px;
    }

    .discoverCalendar iframe{
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .modalContent p {
        font-size: 4vw;
    }

    .closeBtn {
        margin: -2vw 0 5vw 46vw;
    }

    .grid-weather {
        grid-template-columns: 1fr;
        gap: 20px
    }

    .grid-weather h3 {
        text-align: center;
    }

    .events, .current, .forecast {
        grid-column: 1 / 3;
        height: 250px;
        margin: 20px;
    }

    #weatherIcon {
        display: block;
        margin: 0 auto;
        width: 300px;
    }

    .currentParagraphs {
        text-align: center;
        float: right;
        margin-top: -20%;
        margin-right: 20%;
    }

    .forecastParagraphs {
        text-align: center;
        font-size: 27px;
    }

    .spotlights {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        width: 100%;
    }

    .sportlight-card {
        grid-row: auto;
        width: 90%;
        height: 250px;
    }

    .sportlight-email {
        margin: -60px 0 10px 30%;
    }
    
    .sportlight-phone {
        margin: 0 0 3vw 30%;
    }
    
    .sportlight-website {
        display: flex;
        background-color: #000000;
        color: white;
        margin: 0 0 0 40%;
        width: 90px;        
        text-decoration: none;  
    }
}
.positionHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.hero {
    width: 90%;
    height: auto;
    max-width: 300px;
}
.join {
    position: static;
    margin-top: 15px;
    width: 80%;
    font-size: 16px;
    padding: 10px;
    border-radius: 25px;
}
#home_page h1 {
    font-size: 6vw;
    text-align: center;
    margin-top: 20px;
}
.currentParagraphs,
.forecastParagraphs {
    font-size: 14px;
    margin: 10px;
    text-align: center;
}
.grid-weather section {
    margin: 0 auto;
    width: 95%;
}
