:root {
    --primary-color: #17e0d6e7;
    --secondary-color: #bed;
    --font-family-text: 'Lato', sans-serif;
}

body {
    font-family: var(--font-family-text);
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000;
    color: white;
}

header h1 {
    display: flex;
    margin: 10px auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

header h4 {
    display: flex;
    margin: 0 auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: -20px;
}

.titleImage {
    display: flex;
    margin: 0 auto;
    grid-row: 1 / 3;
    height: 100px;
}

/* Botão hambúrguer */
.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    grid-row: 1 / 3;
    display: none;
}

/* Sidebar */
.sidebar {
    grid-row: 2 / 3;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 3;
}

.sidebar a {
    color: white;
    display: flex;
    font-size: 20px;
    text-decoration: none;
    margin: 10px auto;
    padding: 10px;
}

.sidebar a:hover {
    color: black;
    background-color: aqua;
}
.sidebar.open {
    left: 0;
}

.menu-toggle {
    display: block;
}

nav.sidebar {
    width: 200px;
}

main {
    width: 80%;
	margin: 0 auto;
	padding: 0.5rem;
	background-color: white;
}

.companyFilter {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.companyFilter button {
    margin: 0 20px;
	padding: 1rem;
	font-size: 30px;
    border-radius: 10px;
    border-color: white;
    color: white;
    background-color: black;
}

hr {
    margin-bottom: 20px;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: white;
    margin: 0 auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	align-items: center;
}

.grid section {
	text-align: center;
    width: 90%;
    height: 90%;
}

.grid section > * {
	margin: 0.1rem;
}

section {    
	box-shadow: 0 0 10px black;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
    box-shadow: none;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none;
}

.list section h3 {
	font-size: 1rem;
}

.list section:nth-child(even) {
	background-color: var(--secondary-color);
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

article img {
	height: 75px;
	max-width: 100%;
}

/*HomePage CSS*/
#home_page {
    width: 90%;
}

.positionHero {
    display: grid;    
    position: relative;
}

.hero{
    display: flex;
    margin: -8px auto;
    width: 75%;
    height: 550px;
    z-index: 1;
}

.join {
    z-index: 2;
    position: absolute;
    bottom: 50px;
    right: 30px;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
}

.join:hover {
    color: black;
    background-color: var(--primary-color);
}

.grid-weather {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    width: 100%;
}

.grid-weather h3 {
    grid-row: 1 / 2;
    color: white;
    background-color: black;
    margin: -10px;
    padding: 5px;
}

.grid-weather section {
    width: 90%;
}

.events {
    grid-column: 1 / 3;
}

.current {
    grid-column: 3 / 5;
}

.currentParagraphs {
    float: right;
    margin-top: -30%;
    margin-right: 30PX;
}

.forecastParagraphs {
    margin: 10%;
    font-size: 30px;
}

#weatherIcon {
    display: flex;
    margin: 40px 0 20px 2vw;
    width: 20%;
    background-color: aqua;
    border-radius: 70px;
}

.forecast {
    grid-column: 5 / 6;
}

.spotlights {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vw;
    margin-top: 20px;
}

.sportlight-card {
    grid-row: 1 / 2;
    width: 90%;
    height: 250px;
}

.sportlight-card img{
    display: flex;
    margin: 0 1vw;
    width: 25%;
}

.sportlight-name {    
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.sportlight-tagline {    
    text-align: center;
}

.sportlight-email {
    margin: -60px 0 0 9vw;
}

.sportlight-phone {
    margin: 0 0 50px 9vw;
}

.sportlight-website {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    background-color: #000000;
    color: white;
    width: 90px;
    text-decoration: none;  
}

.sportlight-website:hover {
    background-color: aqua;
    color: black;
    border: 2px solid black;
    text-decoration: none;  
}

/*Form CSS*/
form {
    background-color: rgb(158, 170, 187);
    width: 100%;
    padding: 30px 0 30px 30px;
}

form label {
    font-size: 22px;
}

form input:required:invalid {
    border: 1px solid red;
}
  
form input:required:valid {
    border: 2px solid green;
}

form textarea:required:invalid {
    border: 1px solid red;
}
  
form textarea:required:valid {
    border: 2px solid green;
}

form input {
    border: 2px solid black;
    border-radius: 10px;
}

#firstName {
    width: 95%;
    height: 30px;
}

#lastName {
    width: 95%;
    height: 30px;
}

#applicantTitle {
    width: 95%;
    height: 30px;
}

#email {
    width: 95%;
    height: 30px;
}

#phone {
    width: 95%;
    height: 30px;
}

#business {
    width: 95%;
    height: 30px;
}

form fieldset {
    width: 93%;
    border-radius: 5px;
    border: 2px solid black;
}

fieldset legend {
    font-size: 22px;
}

fieldset input {
    margin: 20px 0;
    font-size: 18px;
}

fieldset button {
    margin-left: 7px;
}

.info-btn {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    cursor: pointer;
}

dialog {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 50%;
}
  
.modal-content {
    display: flex;
    gap: 20px;
}

#card {
    width: 220px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 7vh 5px 0 3vw;
}

#details {
    flex: 1;
    text-align: center;
}

#close-modal {
    margin: 50px -10vw 0 12vw;
    background-color: black;
    text-align: center;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    width: 50%;
}

#close-modal:hover {
    background-color: var(--primary-color);
    color: black;
    border: 3px solid black;
}

#description {
    width: 95%;
    height: 100px;
    border-radius: 5px;
}

#sendForm {
    margin-left: 10vw;
    margin-top: 20px;
    text-align: center;
    width: 70%;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
}

#sendForm:hover {
    background-color: var(--primary-color);
    color: black;
    border: 3px solid black;
}


/*Thanks CSS*/
#thanks {
    height: 600px;
    text-align: center;
}

#thanks h1 {
    margin-top: 250px;
    align-items: center;
}


/*Discover CSS*/
#discoverInfo {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
    margin-bottom: -20px;
}

.discoverInfo {
    grid-column: 1 / 2;
    font-size: 18px;
    height: 650px;
    width: 100%;
}

.discoverInfo section {
    margin-bottom: 10px;
    border: 4px solid black;
}

.discoverText {
    height: 90px;
}

.discoverText h3, p {
    margin-top: -5px;
}


.discoverCard {
    height: 270px;
}

.discoverCard h3 {
    margin-top: -5px;
}

.discoverCard p {
    margin-top: 20px;
}

.discoverCard img {
    display: flex;
    margin: -10px auto;
    width: 70%;
    height: 150px;
    box-shadow: 0 0 10px black;
}

.discoverCalendar iframe {
    width: 100%;
    border-radius: 10px;
    height: 200px;
}

.lazyImages {
    grid-column: 2 / 3;
    border: 4px solid black;
    height: 652px;
    overflow-x: auto;
}

.lazyImages img {
    display: flex;
    margin: 2vw 10% 2vw 10% ;
    width: 80%;
    box-shadow: 0 0 7px black;
}

.lazyImages img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#welcomeModal {
    width: 50%;
    height: 15vw;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    background-color: black;
    z-index: 1000;
}

.modalContent {
    position: relative;
}

.modalContent p {
    font-size: 2vw;
    color: white;
}

.closeBtn {
    display: flex;
    margin: -4vw 0 5vw 46vw;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.closeBtn:hover {
    color: red;
}

/*Footer*/
.social img {
    border-radius: 15px;
    width: 70px;
}

.social a {
    margin: 0 25px;
    align-items: center;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    background-color: var(--primary-color);
    align-items: center;
    color: black;
    font-size: 15px;
    margin: 20px 0;
}

footer div {
    margin: 0 auto;
    padding: 10px;
}
