@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(184, 184, 184);
}

.titlePage {
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr;
    background-color: rgb(2, 9, 73);
    color: #D19D0E;
    padding: 60px;
}

header h1 {
    grid-column: 3 / 4;
    font-size: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.titleImage {
    margin: 0 auto;
    box-shadow: 0 0 15px #D19D0E;
    width: 250px;
    grid-column: 2 / 3;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D19D0E;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: rgb(2, 9, 73);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

nav a:hover {
    background-color: wheat;
    color: #770303;
}

#about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2%;
    font-size: 2vw;
    margin: -10px 0;
}

.card {
    text-align: center;
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    margin: 10px 10px;
    box-shadow: 0 0 15px rgb(2, 9, 73);
}

.card p {
    font-size: 20px;
}

.card h3 {
    margin: -10px -12px 10px;
    background-color: rgb(2, 9, 73);
    color: #D19D0E;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
    font-size: 20px;
}

.card a {
    display: inline-block;
    background-color: #D19D0E;
    color: rgb(2, 9, 73);
    border-radius: 5px;
    padding: 15px 15px;
    font-size: 20px;
    margin: 7px 7px;
    text-align: center;
}

.cardColumn {
    grid-column: 1 / 3;
}

.card button {
    display: inline-block;
    background-color: rgb(2, 9, 73);
    color: #D19D0E;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    font-size: 15px;
}

.credits {
    background-color: #D19D0E;
    color: rgb(2, 9, 73);
    margin: -10px -10px 10px -10px;
    padding: 5px;
}

.img {
    display: flex;
    margin: 0 auto;
    width: 400px;
}

footer {
    text-align: center;
    background-color: rgb(2, 9, 73);
    color: white;
    font-size: 15px;
    padding: 17px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-flag {
    width: 30px;
    height: auto;
}

.menu-toggle {
    display: none;
    background-color: #D19D0E;
    color: rgb(2, 9, 73);
    border: none;
    margin: 0 auto;
    font-size: 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    grid-column: 4 / 5;
}

@media (max-width: 700px) {
    nav {
        display: none;
        flex-direction: column;
        background-color: #D19D0E;
        width: 100%;
    }

    .menu-toggle {
        display: block;
        margin: 20px 0;
        grid-column: 3 / 4;
    }

    nav.active {
        display: flex;
    }

    .titlePage {
        grid-template-columns: 1fr 2fr 0.5fr;
        padding: 60px;
    }

    header h1 {
        grid-column: 2 / 3;
        font-size: 18px;
        margin: 0 15px;
    }

    .titleImage {
        width: 120px;
        grid-column: 1 / 2;
    }

    .img {
        width: 150px;
    }

    .footer-flag {
        width: 20px;
    }
}