

:root{
    --color1: #333;
    --color3:#8685ef;
    --clear-color:#fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    
}


header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 5px 10px #00000071;
    position: fixed;
    top: 0;
    
}
.image-title{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

}

.profile-pic{
    height: 100px;
    width: 100px;
    border-radius: 15px;
    margin: 10px;
}


header h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {

    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: antiquewhite;
    font-size: 30px;
    transition: color 4s ease;
}

nav ul li a:hover {
    color: var(--color3);
}


#myButton{
    font-size: 2rem;
    background-color: #000;
    border: none;
    color: var(--clear-color);
    cursor: pointer;
    
    text-align: right;
    padding: .25rem 2vw;
    display: none;
}




div .menu-line{
    background-color: #fff;
    margin: 2px;
    height: 3px;
    width: 20px;
    border-radius: 1px;
}



main {
    width: 100%;
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

}


section {
    border-radius: 10px;
    background:var(--clear-color);
    padding: 0;
    width: 100%;
    min-width: 30%;
    max-width: 49%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.certificate-content{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.box-title{
    padding: 10px 20px;
    background-color: #333;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.box-title h2 {
    color: var(--clear-color);
    margin-bottom: 15px;
    font-size: 2em;
}


ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}


.card-content{
    padding: 20px;
   
}
.card-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-content img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 10px 0;
    border-radius: 10px;
}
.filter-buttons, .courses{
    padding: 10px;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.filter-buttons button{
    background-color:var(--color1) ;
    color: var(--clear-color);
    font-size: 12px;
    height: 30px;
}

.filter-buttons button:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color:#535353 ;
}

.courses{
    display: flex;
    flex-wrap: wrap;
}
.courses button{
    background-color:var(--color3);
    color: var(--clear-color);
    font-size: 16px;
    height: 40px;
    margin: 10px;

}

.courses button:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color:#524fff ;
}

.certificate-content button{
    margin: 10px;
    width: auto;
    padding: 5px 15px;
    border-style: none;
    border-radius: 5%;
    cursor: pointer;
}

.line{
    background-color: var(--color1);
    height: 0.5px;
    width: 100%;
    
}


dialog{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25;
    padding:1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button{
    position:absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

#year{
    color: var(--clear-color);
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: var(--clear-color);
    margin-top: 20px;
    height: 60px;

}

footer p {
    font-size: 1em;
}


.text-flagBox{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.bolivianflag {
    height: 10px;
    width: 20px;
    border: .5px solid #000;
    
}

.bolivianflag:hover{
    animation: 2s flagbox ease-in-out infinite;
}

.red{
    background-color: red;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    
}
.yellow{
    background-color: yellow;
    width: 100%;
    height: 3px;
    border-radius: 1px;
}
.green{
    background-color: green;
    width: 100%;
    height: 3px;
    border-radius: 1px;
}
@keyframes flagbox {
    0%{
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    33%{
        transform: rotateX(180deg) rotateY(0) rotateZ(0);
    }
    67%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}
@media only screen and (max-width: 830px){
    header {
        flex-direction: column;
    }
    header h1 {
        font-size: 2em;
    }

    .box-title h2{
        font-size: 1.5em;
    }
    main{
        margin-top: 15%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section {
        max-width: 100%;
    }
    .courses{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .courses .course-btn{
        max-width: 70%;
        width: 100%;
    }
      
}

@media only screen and (max-width: 425px){
    .image-title{
        display: none;
    }
    header h1{
        font-size: 20px;
    }
    #myButton{
        display: block;
        width: 100%;
        max-width: 0;
        
    }
    nav{
        width: 100%;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li {
        padding: 10px;
    }
    ul.menuLinks{
        display: none;

    }

    ul.open{
        display: block;

    }



}